@import url('reset.css');
body
{
    font-family: Arial, Tahoma, sans-serif;
    font-size: 14px;

    background: url('../images/bg_content.jpg');
}

#container
{
    margin: 0 auto;
}

#container #content
{
    margin: 0 124px 0 160px;
}

#top_header .wrap
{
    margin: 0 124px 0 160px;
}

@media (max-width: 1280px)
{
    #container #content
    {
        margin: 0;
    }
    #top_header .wrap
    {
        margin: 0 10px 0 30px;
    }
}

#top_header
{
    height: 72px;

    background: url('../images/bg_header.jpg');
}

#top_header .wrap
{
    display: flex;

    justify-content: space-between;
}

.logo
{
    margin-top: 16px;
}

.logo h1
{
    font-size: 217%;
    font-weight: bold;

    margin-left: 8px;

    text-transform: uppercase;

    color: #a5adb8;
}

.logo h1:first-letter
{
    color: #ae4b5d;
}

.logo p
{
    font-size: 86%;
    font-weight: bold;

    margin-left: 7px;

    color: #656f7a;
}

.form_search
{
    height: 33px;
    margin-top: 19px;
}

.form_search input[type='search']
{
    width: 198px;
    height: 34px;
    padding-left: 9px;

    border: 1px solid #875f66;
    border-radius: 5px;
    background-color: #24272d;
    box-shadow: inset 0 5px 5px rgba(0, 0, 0, .25);
    -webkit-appearance: none;
}

.form_search input[type='search']:focus
{
    color: #ce4b55;
    border: 2px solid #ce4b55;
    background-color: #fff;
}

.form_search input[type='search']:focus::-webkit-input-placeholder
{
    color: #ce4b55;
}

.form_search input[type='search']::-moz-placeholder
{
    color: #ce4b55;
}

.form_search input[type='search']:focus:-moz-placeholder
{
    color: #ce4b55;
}

.form_search input[type='search']:focus:-ms-input-placeholder
{
    color: #ce4b55;
}

.form_search input[type='image']
{
    float: right;

    margin-right: 7px;
    margin-left: 10px;
    padding: 10px 12px 11px 11px;

    cursor: pointer;

    border: 0;
    border-radius: 5px;
    background-color: #ae4b5d;
}

.form_search input[type='image']:hover
{
    background-color: #ce4b55;
}

@media (max-width: 700px)
{
    .logo
    {
        text-align: center;
    }
    #top_header
    {
        height: 100%;
        padding-bottom: 20px;

        background: #2f343b;
    }
    #top_header .wrap
    {
        flex-direction: column;

        margin: 0 20px;
    }
    .form_search input[type='search']
    {
        width: 90%;
    }
    .form_search input[type='image']
    {
        float: left;

        margin-top: -34px;
        margin-left: 92%;
    }
}

#header .header
{
    height: 240px;

    background: url('../images/header.jpg') no-repeat right, url('../images/bg_header_plus.jpg');
}

.header
{
    padding-left: 38px;
}

.header h1
{
    font-size: 210%;

    padding-top: 41px;
}

.header h1:first-letter
{
    color: #ae4b5d;
}

.header h1,
.header h2
{
    font-weight: bold;

    color: #a5adb8;
}

.header h2
{
    font-size: 130%;

    margin-bottom: 5px;
}

.header p.text1
{
    font-size: 120%;
    font-weight: bold;

    margin-bottom: 20px;

    color: #282d33;
}

.header p.text2
{
    font-size: 101%;
    line-height: 18px;

    width: 52%;

    color: #d9dcdf;
}

@media (max-width: 650px)
{
    .header p.text2
    {
        width: 90%;
    }
}

@media (max-width: 400px)
{
    .header
    {
        font-size: 80%;
    }
}

#menu
{
    padding: 10px 0;

    background-color: #95161f;
}

#menu ul
{
    display: flex;

    flex-wrap: wrap;
    justify-content: flex-end;
}

#menu li a
{
    font-size: 121%;
    font-weight: bold;

    margin-left: 49px;

    text-decoration: none;

    color: #fff;
}

#menu li a:hover
{
    text-decoration: underline;
}

#menu li:last-child
{
    margin-right: 19px;
}

@media (min-width: 510px) and (max-width: 800px)
{
    #menu ul li:after
    {
        font-weight: bold;

        content: ' /';

        color: #fff;
    }
    #menu ul li
    {
        float: left;
    }
    #menu ul li a
    {
        margin-left: 5px;
    }
}

.bread_crumbs
{
    font-size: 82%;

    padding: 7px 0 8px 23px;

    background-color: #f3f3f3;
}

.bread_crumbs a,
.bread_crumbs
{
    text-decoration: none;

    color: #6b6f74;
}

.bread_crumbs a:hover,
.bread_crumbs a.active
{
    text-decoration: underline;

    color: #95161f;
}

@media (max-width: 510px)
{
    #menu
    {
        padding: 0;

        background-color: #fff;
    }
    #menu ul li
    {
        width: 50%;
        margin: 1px auto;

        text-align: center;

        background-color: #95161f;
    }
    #menu ul li:nth-child(1),
    #menu ul li:nth-child(3),
    #menu ul li:nth-child(5)
    {
        background: linear-gradient(90deg, #95161f 99%, #fff);
    }
    #menu ul li a:hover
    {
        background-color: #f119;
    }
    #menu ul li a
    {
        display: inline-block;

        width: 100%;
        margin: 0;
        padding: 15px 0;
    }
    #menu ul li a:hover
    {
        text-decoration: none;
    }
    #menu ul li:last-child
    {
        width: 100%;
        margin: 0;
    }
    .bread_crumbs
    {
        font-size: 110%;
    }
}

#content
{
    background-color: #fff;
}

main
{
    display: flex;

    justify-content: space-between;
}

main .sidebar
{
    width: 264px;
}

main .sidebar .form
{
    width: 211px;
    margin-top: 19px;
    margin-left: 22px;
    padding-left: 13px;

    border: 1px solid #d8dbde;
    background-color: #f3f3f3;
}

main .sidebar h2
{
    font-size: 130%;
    font-weight: bold;

    margin-bottom: 19px;
    padding-top: 19px;

    color: #282d33;
}

main .sidebar .form input[type='text']
{
    width: 183px;
    height: 29px;
    padding-left: 10px;

    border: 1px solid #fff;
    background-color: #e3e4e5;
    box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, .1);
}

main .sidebar .form select
{
    width: 193px;
    height: 33px;
    padding-left: 5px;

    border: 1px solid #a2a2a2;
    background-color: #e3e4e5;
}

main .sidebar .form select,
main .sidebar .form input[type='text']
{
    margin-bottom: 15px;

    color: #757575;
    border-radius: 3px;
}

main .sidebar .form select:focus,
main .sidebar .form input[type='text']:focus
{
    color: #95161f;
    border: 1px solid #95161f;
    background: linear-gradient(0deg, #fff 80%, #cfcfd0);
}

main .sidebar .form input[type='text']:focus::-webkit-input-placeholder
{
    color: #95161f;
}

main .sidebar .form input[type='text']::-moz-placeholder
{
    color: #95161f;
}

main .sidebar .form input[type='text']:focus:-moz-placeholder
{
    color: #95161f;
}

main .sidebar .form input[type='text']:focus:-ms-input-placeholder
{
    color: #95161f;
}

main .sidebar .form input[type='submit']
{
    font-size: 110%;

    margin-bottom: 33px;
    padding: 10px 23px;

    cursor: pointer;

    color: #fff;
    border: 5px solid #fff;
    background: linear-gradient(0deg, #95161f, #b0252e);
    box-shadow: 0 5px 5px rgba(0, 0, 0, .19);
    text-shadow: 0 1px 0 rgba(0, 0, 0, .75);
}

main .sidebar .form input[type='submit']:hover
{
    background: linear-gradient(180deg, #95161f, #b0252e);
}

.text_colspan
{
    margin-left: 22px;
}

.text_colspan p
{
    line-height: 150%;

    margin-bottom: 5px;

    color: #5c646e;
}

.text_colspan p,
.text_colspan a
{
    font-size: 90%;
}

.text_colspan a
{
    color: #95161f;
}

main #cnt
{
    width: 80%;
    margin-left: 20px;
}

main #cnt h2
{
    font-size: 150%;
    font-weight: bold;

    margin-top: 20px;

    color: #a5adb8;
}

main #cnt h2:first-letter
{
    color: #ae4b5d;
}

main #cnt > p
{
    line-height: 150%;

    margin-top: 10px;

    color: #5c646e;
}

main #cnt > p > span
{
    text-decoration: underline;

    color: #95161f;
}

main .gallery
{
    display: flex;

    flex-wrap: wrap;
}

main .gallery img
{
    margin-top: 10px;

    border: 1px solid #fff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
}

main .gallery div
{
    margin: 10px 20px 0 0;
}

main .gallery h3
{
    font-size: 120%;
    font-weight: bold;

    color: #282d33;
}

main .lists
{
    display: flex;

    color: #5c646e;
}

main .lists div
{
    width: 194px;
    margin-right: 20px;
}

main .lists span
{
    padding: 2px;

    border-radius: 3px;
    background-color: #dedede;
}

main .lists .list-ul ul
{
    padding-left: 15px;

    list-style: unset;
}

main .lists li
{
    margin: 5px 0;
}

main .list-unstyled ul.circle
{
    padding-left: 15px;

    list-style: unset;
}

main .lists p:first-child
{
    margin-top: 10px;
    margin-bottom: 10px;
}

main .lists p
{
    margin-bottom: 5px;
}

main .lists .list-ol ol
{
    padding-left: 15px;

    list-style: decimal;
}

main .table table
{
    width: 95%;
    margin-top: 20px;
    margin-bottom: 59px;
}

main .table table td
{
    font-size: 90%;

    padding: 10px;

    color: #a5adb8;
    border: 1px solid #d8dbde;
    background-color: #282d33;
}

main .table table tr:first-child td
{
    font-weight: bold;

    color: #fff;
    background-color: #9c4757;
}

main .table table tr:first-child td:first-child
{
    border-left: 0;
    border-top-left-radius: 5px;
}

main .table table tr:first-child td:last-child
{
    border-right: 0;
    border-top-right-radius: 5px;
}

main .table table tr:last-child td:first-child
{
    border-bottom-left-radius: 5px;
}

main .table table tr:last-child td:last-child
{
    border-right: 0;
    border-bottom-right-radius: 5px;
}

main .table table tr:first-child td
{
    text-align: center;

    border-top: 0;
}

main .table table tr:last-child td
{
    border-bottom: 0;
}

main .table table td:first-child
{
    text-align: center;

    border-left: 0;
}

main .table table td:last-child
{
    border-right: 0;
}

main .table table td a
{
    color: #d08b98;
}

footer
{
    height: 229px;

    color: #85898f;
    border-top: 8px solid #ae4b5d;
    background: url('../images/bg_footer.jpg');
}

footer span
{
    text-transform: uppercase;
}

footer span span
{
    color: #ae4b5d;
}

footer h2
{
    font-size: 140%;
}

footer .center p,
footer h2
{
    color: #a5adb8;
}

footer .wrap
{
    display: flex;
    display: -webkit-flex;

    margin-top: 20px;

    justify-content: center;
}

footer .wrap div
{
    width: 25%;
}

footer img + p
{
    margin-top: 10px;
}

footer .left ul
{
    padding-left: 5px;
}

footer .left ul li,
footer .center ul li,
footer .right p
{
    line-height: 120%;

    margin: 10px 0;
}

footer .left img
{
    margin-right: 5px;
}

footer .left ul li:before
{
    position: relative;
    top: 3px;

    display: inline-block;

    width: 16px;
    height: 16px;
    margin-right: 5px;

    content: '';

    background: url('../images/time.png') no-repeat;
}

footer .center ul li:before
{
    position: relative;
    top: -2px;

    display: inline-block;

    width: 5px;
    height: 5px;
    margin-right: 5px;

    content: '';

    background: url('../images/disc.png') no-repeat;
}

footer .center p
{
    font-weight: bold;
}

footer .right a
{
    color: #d08b98;
}

@media (max-width: 960px)
{
    main .gallery div
    {
        width: 25%;
        margin: 10px auto;
    }
    main
    {
        font-size: 70%;
    }
    main .sidebar .form input[type='submit']
    {
        padding: 10px 48px;
    }
    main .lists div
    {
        width: 25%;
        margin: 10px auto;
    }
}

@media (max-width: 910px)
{
    main .gallery img
    {
        width: 80%;
    }
}

@media (max-width: 1280px)
{
    main #cnt
    {
        margin-right: 20px;
    }
    main .lists p:first-child
    {
        line-height: 160%;
    }
    footer
    {
        font-size: 70%;
    }
    footer h2 + img
    {
        width: 70%;
    }
}

@media (max-width: 750px)
{
    main
    {
        font-size: 70%;

        flex-wrap: wrap;
    }
    main .sidebar
    {
        width: 100%;
    }
    main .sidebar .form
    {
        width: 90%;
        margin: 19px auto 0;
    }
    main .sidebar .form input[type='text']
    {
        width: 95%;
    }
    main .sidebar .form select,
    main .sidebar .form input[type='submit']
    {
        width: 98%;
    }
    main #cnt
    {
        width: 100%;
    }
    footer .wrap div
    {
        width: 32%;
    }
    footer .left ul li:before
    {
        top: 9px;
        right: -11px;

        background-size: 50%;
    }
    footer .center ul li:before
    {
        top: 1px;
        right: -5px;

        background-size: 50%;
    }
}

@media (max-width: 700px)
{
    footer
    {
        height: 100%;

        background: #2f343b;
    }
    footer .wrap
    {
        flex-direction: column;

        margin: 20px auto;

        text-align: center;
    }
    footer .wrap div
    {
        width: 100%;
    }
    footer h2 + img
    {
        display: none;
    }
    footer h2
    {
        display: inline-block;

        margin: 10px auto;
        padding: 10px;

        background-color: #fff;
    }
}

a:any-link {
    color: #85898f;
}
