@import "partials/params";
@import "partials/mixins";


main {
  #catalog {
    .blocks-of-goods {
      margin-top: 55px;
      margin-bottom: 40px;
    }
    .block {
      max-width: 1024px;

      margin: 0 auto;
    }
    .upper-block {
      width: 100%;
      text-align: center;
    }
    h2 {
      @include big-title;
    }
    p {
      font-family: "Open Sans";
      font-size: $default-fz;
    }
    .product {
      display: flex;
      justify-content: center;
      border: 1px solid #eaeeee;
      padding: 0;
      &:hover {
        box-shadow: 0 10px 20px 0 rgba(88, 59, 133, 0.22);
        border: solid 1px #dcd8e4;
      }
      img {
        margin-top: 20px;
      }

      h3 {
        font-family: "GothamPro";
        font-size: 17px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.12;
        letter-spacing: normal;
        text-align: center;
      }
      p {
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.63;
        letter-spacing: normal;
        text-align: center;
        color: #5d5d5d;
      }
    }
    .more-info {
      text-transform: uppercase;
      font-family: GothamPro-Bold;
      font-size: 12px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 44px;
      letter-spacing: 1px;
      text-align: center;
      height: 44px;
    }
    a {
      color: #000;
    }
    a:hover .more-info {
      background-color: #f3295d;
      width: 100%;
      color: #fff;

    }

    a:active .more-info {
      background-color: #bb0a38;
      width: 100%;
      color: #fff;
    }
  }

  .look-btn {
    display: block;
    margin: 0 auto 73px;
    text-transform: uppercase;
    font-family: GothamPro-Bold;
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    line-height: 42px;
    letter-spacing: 1px;
    color: #f3295d;
    width: 287px;
    height: 42px;
    border-radius: 30px;
    border: solid 1px #f3295d;
    background-color: #fff;
    &:hover {
      background-color: #f3295d;
      color: #fff;
    }
    &:active {
      background-color: #bb0a38;
    }
  }
  .discount{
    text-decoration: line-through;
  }
  .nice-price {
    margin-left: 5px;
    color: #f3295d;
  }
}

@media (max-width: 1070px) {
  main #catalog .block {
    max-width: 830px;
  }
}

@media (max-width: 900px) {
  main #catalog .block {
    max-width: 600px;
  }
}

@media (max-width: 700px) {
  main #catalog .block {
    max-width: 400px;
  }
}

@media (max-width: 500px) {
  main #catalog .block {
    max-width: 200px !important;
  }
}